<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

In [40]:
import numpy as np

# 1 There is more to if

In [1]:
name = 'Harley'

if name == 'Harley':
    print('Hello Harley!')
elif name == 'Joker':
    print('Hello Puddin!')
else:
    print('Hello World!')

Hello Harley!

# 2 Asking questions

In [3]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

## Example

In [4]:
'apple' in vegetables

False

In [5]:
'banana' in fruits

True

In [8]:
if 'apple' in fruits:
    print('A fruit that keeps the doctor away.')

A fruit that keeps the doctor away.

## Example

In [9]:
'peach' not in fruits

True

Note that all the keywords are in $\color{green}{\text{Green!}}$

## Example

In [12]:
('apple' in fruits) and ('celery' in vegetables)     # Brackets not needed but makes code easier to read

True

## Example

In [14]:
('apple' in fruits) or ('celery' in vegetables)

True

In [16]:
'app' in 'apple'    # Asks if app is in apple

True

In [23]:
'apples' > 'oranges'   # This comparison works because English letters are internally represented as numbers. 
                       # For example, 'a' is 97 and 'o' is 111. 
                       # This will become even clearer after you have worked on the section below on data types.

False

In [24]:
'apples' > 'Aranges'    # The > function only compares the first letter. 
                        # 3 > 10 will work but not 3 > apples

True

## 2.1 Asking Math questions

|**Question/Condition**	| **Math Symbol**  |**Python Symbols**|
|:---                   |:---              |:---              | 
|Equals?                | =	               |  ==              |
|Not equal?	            | ≠	               |  !=              |
Less than?	            | <                |  <               |
Greater than?	        | >	               |  >               |
Less than or equal?	    | ≤	               |  <=              |
Greater than or equal?  | ≥	               |  >=              |

Python also accepts the following syntaxes:

x > 5 and x < 15

(x > 5) and (x < 15)

5 < x < 15

# 3 Python stores information in different formats or types

## Example

In [38]:
x = int(1.234)     # Number here is not an integer, but a floating type
print('Original: ',x, type(x))

Original:  1 <class 'int'>

In [35]:
x = 1.234       # Decimals are called floats
print('Original: ',x, type(x))

Original:  1.234 <class 'float'>

In [36]:
x = str(1.234)     # Printing an english word that looks like a number 
print('Original: ',x, type(x))

Original:  1.234 <class 'str'>

In [30]:
x = complex(1.234)
print(x, type(x))

(1.234+0j) <class 'complex'>

## Example

It is important to know the type of data, because we cannot use str in math.

In [39]:
'1.234'*5      # It takes a str, and puts 5 of them tgt.

'1.2341.2341.2341.2341.234'

In [41]:
np.sqrt(4)

np.float64(2.0)

The different kinds of float just stores different kinds of data. For example, float64 can store more precise data than float32. 

The default float is 64 because all our laptops are under this 64 version.

In [42]:
np.sqrt(4, dtype='float32')

np.float32(2.0)

# 4 Never compare **floats** directly

In [43]:
a = 0.1
a3 = 0.3
a * 3 == a3

False

In [55]:
eps = 1E-15             # 1 x 10^(-15)
                        # eps usually refers to a small positive number, often used in contexts where numerical precision is important. 
                        #It's commonly associated with floating-point comparisons, 
                        # where you need to account for the potential inaccuracies of floating-point arithmetic.

abs(a3 - a*3) < eps     # If we don't put abs, probably it will be a negative value.
                        # This allows us for a better comparison for very small numbers in Python,
                        # such as are those small numbers close enough.

True

In [51]:
np.isclose(a3, a*3)

np.True_

In [48]:
a*3           # It has a 4 at the back because of how numbers are represented on a computer (truncation error).

0.30000000000000004

In [45]:
A = 1
A3 = 3
A * 3 == A3             # Integer math works perfectly fine, but not for floats

True

# 5 Combining English and variables

## Example

In [67]:
xxx_name = "Batman"
print(f"Hello {name.upper()}!")        # Whenever we want to combine English and variables, 
                               # we put f in front & variables in {}

Hello BATMAN!

In [68]:
print(f'{xxx_name = }' )

xxx_name = 'Batman'

In [57]:
filename = f"experiment_{date}_{sample}.txt"

## Example

In [69]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [70]:
x = 10
print(f"The value of {x} 'squared' is {x**2}!")

The value of 10 'squared' is 100!

## Example

In [71]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [77]:
print(f'{text:>30}')      # A block of 30 characters;
                          # aligned right

        Bruce Wayne is Batman.

In [78]:
print(f'{text:^30}')      # A block of 30 characters;
                          # aligned centre

    Bruce Wayne is Batman.

In [79]:
print(f'{text:<30}')      # A block of 30 characters;
                          # aligned left

Bruce Wayne is Batman.

## Example

In [80]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

The cube of pi to 6 decimal places is 31.006277

In [81]:
print(f'The cube of pi to 6 decimal places is {np.pi**3}')

The cube of pi to 6 decimal places is 31.006276680299816

In [83]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.1f}')

The cube of pi to 6 decimal places is 31.0

In [87]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:010.3f}')  # This 010 indicates that we want a TOTAL of 10 digits in the things printed,
                                                                   # and zeroes will fill up the spaces until 10 digits are reached.

The cube of pi to 6 decimal places is 000031.006

In [90]:
print(f'The cube of pi to 6 decimal places is {np.pi**3: 10.1f}')  # This gives spaces instead of zeroes, but we still have 10 characters.

The cube of pi to 6 decimal places is       31.0

In [93]:
print(f'The cube of pi to 6 decimal places is {np.pi**3: 10.6e}') # We put an 'e' behind instead of 'f' if we want to get scientific notations.

The cube of pi to 6 decimal places is  3.100628e+01

# 6 Escape sequences

In [96]:
print("Hii\tiii\nIm Sophie")    # \t is a horizontal tab
                              # \n is a linebreak/newline

Hii	iii
Im Sophie

In [98]:
print('AB\C')   # Because there is no \C escape sequence

AB\C

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\sophi\AppData\Local\Temp\ipykernel_16340\746218266.py:1: SyntaxWarning: invalid escape sequence '\C'
  print('AB\C')   # Because there is no \C escape sequence

In [99]:
print("AB'C")

AB'C

## 6.1 Self-documenting f-strings

In [102]:
x, y = 42, 24
print(f'{x=} and {y=}')

x=42 and y=24

In [103]:
x, y = 42/5, 24/5
print(f'{x=:.3f} and {y=:.6f}')

x=8.400 and y=4.800000

# 7 Computers read = from Right to Left!

In [107]:
x = 40
y = x + 2         # Python does the addition operation first, then the equal sign.

In [106]:
print(y)

42

In [108]:
y = 40
y = y + 2
print(y)

42

In [109]:
x = y = 10

# 8 Shorter and Cleaner Code

In [110]:
y = 40
y = y + 2
y


y = 40
y += 2    # Same as y = y + 2 (otherwise as add 2 to yourself)
y

42

In [113]:
y = 40
y -= 2    # Works the same way for subtraction, multiplication and division 


y = 40 
y *= 2


y = 40
y /= 2

In [119]:
y = 40
y -= 2    # Works the same way for subtraction
y         # Need to add this Y below if not the code wont generate an answer!

38

In [120]:
y = 40 
y *= 2    # For multiplication
y

80

In [121]:
y = 40
y /= 2    # And for division
y

20.0

# 9 Python can be a prima-donna.

In [122]:
Print()

NameError: name 'Print' is not defined

# 10 Best Practices for Scientific Computing

1. Write programs for people, not computers.
2. Optimise software only after it works correctly.
3. Document design and purpose, not mechanics.
4. Collaborate.

# 11 Looking for help

In [123]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.